@{
    var currentPage = Context.Request.Path;
}

<aside id="default-sidebar" class="w-full h-full" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-black">
        <img src="@Url.Content("~/Images/Main/TKDPLogo.png")" class="w-32 h-32" />
        <ul class="space-y-2 font-medium">
            <li>
                <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        dashboard
                    </span>
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Tul" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        lists
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Tuls</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Category" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        menu_book
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Terminology</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Profile" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        person
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Profile</span>
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <span class="material-symbols-outlined text-gray-400" style="font-size: 30px;">
                        arrow_back
                    </span>
                    <span class="flex-1 ml-3 whitespace-nowrap">Back</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<script>
    function navigateToPage(url) {
        window.location.href = url;
    }
</script>
