<div class="pt-32 px-2 md:px-20 relative">
    <h1 class="text-4xl font-medium">Information Terminology</h1>

    <div class="flex gap-10 flex-col md:flex-row text-lg pb-36">       
        <div class="flex-1 w-full">
            <p class="pt-4">
                At TKD Progression, we believe in the power of technology to transform the world of Taekwondo training. Our mission is to assist Taekwondo practitioners of all levels in enhancing their skills, achieving their goals, and tracking their progress, all in one convenient app. With our innovative Taekwondo progression tracker app, you can elevate your training experience.
            </p>
        </div>
        <div class="flex-1 w-full pt-4"></div>
    </div>
</div>
