@{
    ViewData["Title"] = "Home Page";
}

<div class="relative">
    <img class="w-full h-[700px] object-cover brightness-50" src="https://wallpapers.com/images/hd/martial-art-taekwondo-graphic-art-11nul6a2araoj7zd.jpg">

    <div class="text-white absolute bottom-20 left-0 px-20">
        <h1 class="text-5xl font-medium">Want to learn Taekwondo?</h1>
        <h2 class="text-xl pt-2">Create an account to learn the tuls and Taekwondo terminology.</h2>

        <div class="pt-10 w-full">
            <a asp-area="Identity" asp-page="/Account/Login" class="py-4 bg-[#1CADE4] font-medium text-center rounded-md text-black text-white text-xl p-28 w-[600px]">Start now</a>
        </div>
    </div>
</div>

<div class="px-20 flex w-full pt-20 gap-8">
    <div class="w-full h-full relative group">
        <a asp-area="" asp-controller="Home" asp-action="Tul">
            <img class="w-full h-full object-cover rounded-md transition-transform transform scale-100 group-hover:scale-105 dar brightness-[0.25]" src="https://www.southerndragontaekwondo.com/uploads/1/9/3/1/19316177/5927741_orig.jpg" alt="Image 1">
            <div class="absolute inset-0 flex items-center justify-center text-white text-3xl font-semibold">
                Tuls
            </div>
        </a>
    </div>
    <div class="w-full h-full relative group">
        <a asp-area="" asp-controller="Home" asp-action="Terminology">
            <img class="w-full h-full object-cover rounded-md transition-transform transform scale-100 group-hover:scale-105 brightness-[0.25]" src="https://i.ytimg.com/vi/ASGvV76g084/sddefault.jpg" alt="Image 2">
            <div class="absolute inset-0 flex items-center justify-center text-white text-3xl font-semibold">
                Terminology
            </div>
        </a>
    </div>
</div>

<div class="px-20 pt-20">
    <h1 class="text-2xl font-bold flex justify-center">Tuls and Terminology in Taekwondo</h1>
    <p class="text-lg pt-2">
        Tuls and terminology play a crucial role in the world of Taekwondo. They form the foundation of the traditional martial art and contribute to its profound meaning and history. Let's take a look at what tuls and terminology entail exactly. Tuls refer to the series of standardized stylized exercises in Taekwondo. Each tul consists of a choreographed sequence of movements that represent fighting and defense techniques. Tuls are designed to assist the practitioner in developing muscle memory, balance, coordination, and technical skills. They vary in complexity and are typically performed as solo exercises.
        Taekwondo has an extensive list of Korean terms and expressions that are essential for practitioners.
    </p>
</div>
