@{
    ViewData["Title"] = "Terminology Page";
}

<div class="pt-32 px-2 md:px-20 relative">
    <h1 class="text-4xl font-medium">Information Terminology</h1>

    <div class="flex gap-10 flex-col md:flex-row text-lg">
        <div class="flex-1 w-full pt-4">
            <img src="@Url.Content("~/Images/Main/terminology.jpg")" />
        </div>
        <div class="flex-1 w-full">
            <p class="pt-4">
                Taekwondo is not just a physical discipline; it's also a culture rich in tradition and symbolism. One key aspect of understanding and fully embracing Taekwondo is familiarizing yourself with its unique terminologies. These terms are more than just words; they carry the essence of this ancient martial art and provide insights into its philosophy and practice.
            </p>
            <p class="pt-4">
                In the world of Taekwondo, the training hall or studio where it is practiced is called the "Dojang." The traditional uniform worn by practitioners is the "Dobok," typically consisting of a white jacket and pants, symbolizing purity and respect.
            </p>
            <p class="pt-4">
                The name of the martial art itself, "Taekwondo," translates to "the way of the foot and the hand" or "the way of kicking and punching." It emphasizes the use of the legs for powerful, high-impact strikes.
            </p>
            <p class="pt-4">
                "Poomsae" refers to a series of choreographed movements and forms that simulate various attack and defense scenarios. Practicing poomsae enhances balance, precision, and mental focus.
            </p>
            <p class="pt-4">
                The "Kukkiwon" is the World Taekwondo Headquarters, located in Seoul, South Korea. It serves as the global hub for Taekwondo education, certification, and promotion.
            </p>
            <p class="pt-4">
                "Kyorugi" represents the sport aspect of Taekwondo, also known as sparring. It involves controlled combat between two practitioners, aiming to score points with precise strikes.
            </p>
            <p class="pt-4">
                In terms of ranks, a "Dan" is a black belt rank in Taekwondo. Dan ranks indicate a practitioner's level of expertise, with higher numbers signifying more advanced skill. A "Gup" is a colored belt rank below black belt, helping beginners progress through the various stages of Taekwondo training.
            </p>
            <p class="pt-4">
                During training and competition, practitioners often make a loud, focused yell or shout called "Kiap." This helps increase power and focus in techniques.
            </p>
            <p class="pt-4">
                The "Chunbi" stance is the ready stance in Taekwondo, where practitioners stand with their feet together, hands by their sides, and ready for action.
            </p>
            <p class="pt-4">
                "Hoshinsool" refers to self-defense techniques and strategies taught in Taekwondo to protect oneself from physical harm.
            </p>
            <p class="pt-4">
                A "Poom" is a junior black belt rank. Practitioners with a poom rank are typically younger and have not yet reached the age required for a dan black belt.
            </p>
            <p class="pt-4">
                These are just a few of the many Taekwondo terminologies you'll encounter on your journey into this martial art. Learning and embracing these terms not only enhance your understanding but also deepen your connection to the rich history and philosophy that underpin Taekwondo. So, step onto the dojang, don your dobok, and immerse yourself in the language of Taekwondo as you embark on this rewarding path of discipline, self-discovery, and physical prowess.
            </p>
        </div>
    </div>
</div>