@{
    ViewData["Title"] = "Tul Page";
}

<div class="pt-32 px-2 md:px-20 relative">
    <h1 class="text-4xl font-medium">Information Tul</h1>

    <div class="flex gap-10 flex-col md:flex-row text-lg">
        <div class="flex-1 w-full">
            <p class="pt-4">
                Tuls and terminology play a crucial role in the world of Taekwondo. They form the foundation of the traditional martial art and contribute to its profound meaning and history. Let's take a look at what tuls and terminology entail exactly. Tuls refer to a series of standardized stylized exercises in Taekwondo. Each tul consists of a choreographed sequence of movements that represent fighting and defense techniques. Tuls are designed to assist the practitioner in developing muscle memory, balance, coordination, and technical skills. They vary in complexity and are typically performed as solo exercises. Taekwondo has an extensive list of Korean terms and expressions that are essential for practitioners.
            </p>
        </div>
        <div class="flex-1 w-full">
            <img src="@Url.Content("~/Images/Main/dangun.jpg")" />
        </div>
    </div>
</div>
