@model MovementViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="px-12 pt-10 h-screen">
    <h1 class="font-medium text-3xl">Details</h1>

    <div class="pt-10">
        <h4 class="text-2xl font-bold">Movement</h4>
        <hr class="my-4">
        <dl class="grid grid-cols-2 gap-x-4 gap-y-2">
            <dt class="text-sm font-medium text-gray-500">Id</dt>
            <dd class="text-sm">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="text-sm font-medium text-gray-500">name</dt>
            <dd class="text-sm">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="text-sm font-medium text-gray-500">Image</dt>
            <dd class="text-sm">
                <img src="@Url.Content("~/Images/" + Model.ImageUrl)" class="h-96" />
            </dd>
        </dl>
    </div>
    <div class="mt-4">
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Edit</a> |
        <a asp-action="Index" class="text-indigo-600 hover:text-indigo-900">Back to List</a>
    </div>
</div>
